{
  "api_key": "fill in your bot api key",
  "interpreter": "tools/dfrotz",
  "redis": {
    "host": "localhost",
    "port": 6379,
    "db": 0,
    "password": null
  },
  "stories": [
    {
      "name": "Zork 1",
      "abbrev": "z1",
      "filename": "zork_1-r52.z5"
    },
    {
      "name": "The Hitchhiker's Guide to the Galaxy",
      "abbrev": "hhgg",
      "filename": "hhgg.z5"
    }
  ]
}